<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743098638884-16kql5t4s6kgl9qvbg5l0ua7ospudo7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743098638884-16kql5t4s6kgl9qvbg5l0ua7ospudo7h</string>
	<key>API_KEY</key>
	<string>AIzaSyBGOiCkcvCXFLMVweUJRl8Y2_xJuKeI8ws</string>
	<key>GCM_SENDER_ID</key>
	<string>743098638884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hirorich.JPNDaeguHos</string>
	<key>PROJECT_ID</key>
	<string>jpndaeguhos</string>
	<key>STORAGE_BUCKET</key>
	<string>jpndaeguhos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743098638884:ios:740d57d2e87976c91e2eb1</string>
</dict>
</plist>